<div class= "container">
  <header class= "jumbotron text-center">
    <h1>Bustle Clone</h1>
  </header>
    {{outlet}}
  <hr>
  <footer>
    {{#link-to 'contact'}}For Contact Info{{/link-to}}
  </footer>
</div>
